.about {
  width: 1480px;
  height: 1282px;
  margin: 0 auto;
}
.header {
  width: 1280px;
  margin-left: 0;
  margin-right: 0;
  background: rgba(0, 0, 0, 0.0001);
}
.page_title {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  width: 334px;
  height: 79px;
  margin: 63px 1048px 38px 98px;
}
.title_link {
  color: #abcaff;
}

.title_bold {
  color: #000000;
}
.navigation {
  width: 1280px;
  height: 72px;
  background: #35444f;
  margin: 19px 98px 48px 98px;
}
.navigation_item {
  list-style: none;
  padding: 26px 35px 19px 35px;
  border-left: 1px solid #ffffff;
}
.navigation_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.navigation_list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.navigation_item:hover {
  background: #222f3a;
  padding: 26px 35px 19px 35px;
}
.navigation_item:nth-child(4) {
  border-right: 1px solid #ffffff;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  flex-wrap: wrap;
}
.content_list {
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  margin: 0px 52px 484px 100px;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.item {
  padding: 26px 100px 25px 44px;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}
.menu_link:hover {
  background: #35444f;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}
.main_content {
  display: flex;
  justify-content: space-between;
  margin: 48px 99px 37px 100px;
}
.item_menu:hover {
  background: #dbdbdb;
  padding-left: 70px;
}

.image_content:hover img {
  transform: scale(1.2);
}
.content_image img {
  transition: transform 0.5s;
}
.left_menu {
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.image_content {
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link_menu {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}
.item_menu {
  padding: 26px 100px 26px 42px;
}
.text_content {
  width: 885px;
  height: 120px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.right_content {
  margin-left: 52px;
}
.conteiner_footer {
  width: 1280px;
}
.page_footer {
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-right: auto;
  margin-left: 100px;
}
.footer_list {
  list-style: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  margin: 0;
}
.copyright {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin: 0;
  padding-right: 40px;
}

.footer_link {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer_link:hover {
  color: #3181a6;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-decoration: underline;
}
.footer_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_list {
  display: flex;
  align-items: center;
}
.footer_item {
  padding: 20px 10px 20px 10px;
}
